page-home {

  .bg-title{
    background-color: #fff;
  }
  .toolbar-title-ios{
    color: #273be2;
  }

  .bg-content{
    background: linear-gradient(to bottom, #273be2 0%, #ffffff 40%);
    color: #fff;
  }

  .h1-d{
    text-decoration: underline;
  }
}
